@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #f97316;
  --font-family-sans: Roboto, sans-serif;
  --container-center: true;
  --container-padding-default: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;
}

@layer base {
  body {
    font-family: var(--font-family-sans);
  }
}

@layer components {
  .primary-btn {
    @apply bg-primary text-white py-2 px-4 rounded shadow-sm hover:shadow-md;
  }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

}


/* sm ≥ 640px */
@media (min-width: 640px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* lg ≥ 1024px */
@media (min-width: 1024px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* xl ≥ 1280px */
@media (min-width: 1280px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* 2xl ≥ 1536px */
@media (min-width: 1536px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}


/* container {
  center: true;
  padding: {
    DEFAULT: "1rem",
    sm: var(--container-padding-sm),
    lg: var(--container-padding-sm),
    xl: var(--container-padding-xl),
    "2xl": var(--container-padding-2xl),
  },
} */